# In class practice with Pandas & Scipy Libraries

Import the libraries

In [4]:
import os
import re
import pandas as pd
from scipy import stats

hello world

## Working with pandas

How to importa a tab-delimited text data file. The file is in the same directory at the jupyter notebook.

In [39]:
data=pd.read_csv('hist_taxa_treat2.txt', sep='\t', index_col=False, low_memory=False)

How to use pandas to assign data from the dataset to a variable.

In [6]:
lacto=data.loc[(data['Species']=='Lactobacillus')]
x=lacto['Abundance']
print('lactos')
print(x)

lactos
0     0.063575
1     0.030630
2     0.026108
3     0.058233
4     0.092633
        ...
84    0.003580
85    0.016010
86    0.044609
87    0.007296
88    0.003000
Name: Abundance, Length: 89, dtype: float64

In [7]:
para=data.loc[(data['Species']=='Parabacteroides')]
#print(para)
y=para['Abundance']
print('paras')
print(y)

paras
89     0.005896
90     0.001962
91     0.002219
92     0.003267
93     0.002320
         ...
173    0.003376
174    0.002668
175    0.012194
176    0.020810
177    0.006534
Name: Abundance, Length: 89, dtype: float64

## Working with Scipy statistic methods

In [8]:
tt_out=stats.ttest_ind(x,y)
print(tt_out)

TtestResult(statistic=7.288016524628964, pvalue=1.0200357215755368e-11, df=176.0)

## Exercises

PRINT HEAD AND TAIL OF data

In [17]:
data.head()

  SampleID Treatment  Treatment_no  Time        Species  Abundance   Count
0    CC01A   Control           1.0   0.0  Lactobacillus   0.063575  1430.0
1    CC01B   Control           1.0   1.0  Lactobacillus   0.030630   379.0
2    CC01C   Control           1.0   2.0  Lactobacillus   0.026108   386.0
3    CC01D   Control           1.0   3.0  Lactobacillus   0.058233  1193.0
4    CC02A   Control           1.0   0.0  Lactobacillus   0.092633  2455.0

In [18]:
data.tail()

,SampleID,Treatment,Treatment_no,Time,Species,Abundance,Count
1330,CC23C,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN
1331,CC23D,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN
1332,CC24A,Treatment,NaN,NaN,Desulfovibrionaceae,0.000203,NaN
1333,CC24B,Treatment,NaN,NaN,Desulfovibrionaceae,0.000063,NaN
1334,CC24D,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN

Assign 3 variables to 3 different values in column 'Species'

In [20]:
lacto=data.loc[(data['Species']=='Lactobacillus')]
#print(lacto)
desu=data.loc[(data['Species']=='Desulfovibrionaceae')]
victi=data.loc[(data['Species']=='Victivallaceae')]

Use the describe function

In [22]:
lacto.describe()

       Treatment_no       Time  Abundance        Count
count     89.000000  89.000000  89.000000    89.000000
mean       1.516854   1.505618   0.038422   632.707865
std        0.502547   1.139414   0.043201   796.951738
min        1.000000   0.000000   0.001927    22.000000
25%        1.000000   0.000000   0.008012   142.000000
50%        2.000000   2.000000   0.020021   331.000000
75%        2.000000   3.000000   0.058233   836.000000
max        2.000000   3.000000   0.206322  4317.000000

Print the sums, var, and std for data

In [28]:
data.sum(skipna=True, numeric_only=True)

Treatment_no      1620.000000
Time              1608.000000
Abundance           14.939201
Count           233173.000000
dtype: float64

In [29]:
data.var(skipna=True, numeric_only=True)

Treatment_no         0.249950
Time                 1.284879
Abundance            0.000597
Count           201534.304549
dtype: float64

In [30]:
data.std(skipna=True, numeric_only=True)

Treatment_no      0.499950
Time              1.133525
Abundance         0.024425
Count           448.925723
dtype: float64

Make a new dataframe that only includes SampleID and Species.
Make a second dataframe that only includes only Abundance.
Make a third dataframe that merges the other two.

In [49]:
d1=data[['SampleID']]
#print(d1)
d2=data[['Species']]
#print(d2)
ndata=pd.concat([d1, d2], axis=1)
#print(ndata)

In [50]:
ndata.head()

  SampleID        Species
0    CC01A  Lactobacillus
1    CC01B  Lactobacillus
2    CC01C  Lactobacillus
3    CC01D  Lactobacillus
4    CC02A  Lactobacillus

In [51]:
ndata

     SampleID              Species
0       CC01A        Lactobacillus
1       CC01B        Lactobacillus
2       CC01C        Lactobacillus
3       CC01D        Lactobacillus
4       CC02A        Lactobacillus
...       ...                  ...
1330    CC23C  Desulfovibrionaceae
1331    CC23D  Desulfovibrionaceae
1332    CC24A  Desulfovibrionaceae
1333    CC24B  Desulfovibrionaceae
1334    CC24D  Desulfovibrionaceae

[1335 rows x 2 columns]

## You can use the directory function to see all the pandas methods

In [53]:
dir(data)

['Abundance',
 'Count',
 'SampleID',
 'Species',
 'T',
 'Time',
 'Treatment',
 'Treatment_no',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [54]:
#How to see the names of all the columns
data.columns  #All the titles for the columns

Index(['SampleID', 'Treatment', 'Treatment_no', 'Time', 'Species', 'Abundance',
       'Count'],
      dtype='object')

In [21]:
#Using a for loop to print all the names
for i in data.columns: print (i)

SampleID
Treatment
Treatment_no
Time
Species
Abundance
Count

In [22]:
#Retrieve data of all the columns
data["Count"]

0       1430.0
1        379.0
2        386.0
3       1193.0
4       2455.0
         ...
1330       NaN
1331       NaN
1332       NaN
1333       NaN
1334       NaN
Name: Count, Length: 1335, dtype: float64

In [23]:
#An example of calculating a stat
data["Count"].sum()

233173.0

## Use pandas in a function

Write a function called calc_stats that:
(1) Takes 2 string arguments, a filename of tab-delimited database and the name of a 
    column in the data.
(2) And it returns a list of the following: the sum, median, mean, standard deviation,
    minimum value, and maximum value.

In [98]:
def calc_stats(fx, fy):
    stats=[]
    data=pd.read_csv(fx, sep='\t', index_col=False, low_memory=False)
    tot=data[fy].sum(skipna=True, numeric_only=True)
    stats.append(tot)
    med=data[fy].median(skipna=True, numeric_only=True)
    stats.append(med)
    avg=data[fy].mean(skipna=True, numeric_only=True)
    stats.append(avg)
    stdev=data[fy].std(skipna=True, numeric_only=True)
    stats.append(stdev)
    minv=data[fy].min(skipna=True, numeric_only=True)
    stats.append(minv)
    maxv=data[fy].max(skipna=True, numeric_only=True)
    stats.append(maxv)
    return stats

In [99]:
out=calc_stats("hist_taxa_treat2.txt", "Count")
print(out)
#Should print [233173.0, 28.0, 218.32677902621722, 448.92572275301353, 0.0, 4317.0]

[233173.0, 28.0, 218.32677902621722, 448.92572275301353, 0.0, 4317.0]

In [100]:
out2=calc_stats("hist_taxa_treat2.txt", "Abundance")
print(out2)
#Should print [14.939201413, 0.001127497, 0.011190413043445693, 0.024424991167155383, 0.0, 0.206321962]

[14.939201413, 0.001127497, 0.011190413043445693, 0.024424991167155383, 0.0, 0.206321962]